/* ref. http://twitterbootstrapbuttons.w3masters.nl/ */

.btn-primary {
  background-color: #cd0f45;
  border-color: #cd0f45;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #b50d3d;
  border-color: #9d0c35;
}

.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #cd0f45;
  border-color: #cd0f45;
}

.carousel-caption {
    color: #cd0f45 !important;
    text-shadow: none;
}

.emphasis {
    font-style: italic;
    font-weight: bolder;
}

.navbar-brand {
    font-size: 14px
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand a:focus, .navbar-inverse .navbar-brand a:hover, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, a, a:focus, a:hover {
    color: #cd0f45 !important;
}
