<!DOCTYPE html>
<html>
    <head>
        <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet">
        <meta charset="utf-8">
        <title>{{ site.title }}</title>
    </head>
    <body>
        <div class="navbar-wrapper">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {% assign pages = site.pages | sort:"position" %}
                        {% for page in pages %}
                            {% if page.brand %}
                                <a class="navbar-brand" href="{{ page.url }}">{{ page.title }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            {% assign pages = site.pages | sort:"position" %}
                            {% for page in pages %}
                                {% unless page.brand %}
                                    <li>
                                        <a href="{{ page.url }}">{{ page.title }}</a>
                                    </li>
                                {% endunless %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                {% assign testimonials = site.testimonials %}
                {% for testimonial in testimonials %}
                    {% if forloop.first %}
                        <div class="item active">
                    {% else %}
                        <div class="item">
                    {% endif %}
                        <img src="{{ testimonial.src }}">
                        <div class="carousel-caption">{{ testimonial.content }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            {{ content }}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script crossorigin="anonymous" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
